.grid-item .portfolio {
	.featured-content {
		position: relative;
	}
	.post-overlay {
		// background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,1) 100%);
		// background: rgba(255,255,255,.8);
		background: linear-gradient(transparent, rgba(250,250,250,.8));
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 20px;
		opacity: 0;
		transition: opacity $default-transition;
		overflow: hidden;
		.post-overlay-content {
			position: absolute;
			bottom: 20px;
			transform: translate3d(-100%,0,0);
			transition: all $default-transition;
		}
		.entry-title {
			font-weight: bold;
		}
	}
	&:hover {
		.post-overlay {
			opacity: 1;
		}
		.post-overlay-content {
			transform: translate3d(0%,0,0);
		}
	}
}

.portfolio-style-overlay {
	.grid-item .portfolio {
		.post-overlay {
			opacity: 1;
			transition: opacity $default-transition;
			.post-overlay-content {
				transform: none;
			}
		}
		&:hover {
			.post-overlay {
				opacity: 0;
			}
		}
	}
}

.portfolio-style-below {
	.grid-item .portfolio {
		.post-overlay {
			opacity: 1;
			position: static;
			padding-left: 0;
			padding-right: 0;
			background: transparent;
			.overlay-link {
				display: none;	
			}
			.post-overlay-content {
				transform: none;
				position: static;
			}
		}
	}
}

// Single style
.single-portfolio {
	.main {
		padding-top: 40px;
	}
	.page-title {
		font-size: 24px;
		margin-bottom: 30px;
	}
	.social-share-wrap {
		display: inline-block;
		margin-bottom: 60px;
	}
	@media (max-width: $screen-md-max) {
		.featured-content-inner, .entry-content-inner {
			position: static !important;
		}
		.featured-content-inner {
			margin-bottom: 40px;
		}
	}
	.featured-content-inner, .entry-content-inner {
		z-index: 1 !important;
	}
}