.testimonial {
	.featured-content {
		img {
			float: none;
			display: block;
			margin: 0 auto;
			border-radius: 100%;
			max-width: 100px;
			max-height: 100px;
		}
	}
	.entry-title {
		text-align: center;
	}
	.entry-summary {
		text-align: center;
	}
}