.accordion-heading .accordion-toggle {
  &:before {
    content: '\f489';
    font-family: 'Ionicons';
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 22px;
    transform: translateY(-50%);
  }
  &[aria-expanded="true"] { 
    &:before {
      content: '\f462';
    }
  }
}