.comment-list {
  	@include list-unstyled;
	.children {
		padding-left: 0;
		margin-left: 0;
	  	@media (min-width: $screen-sm) {
			margin-left: 40px;
		}
	}
}
.comment-list ol {
  list-style: none;
}
.comment-form p {
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
}
.comment {
	margin: 20px 0;
}
.comment-body {
	padding: 25px 10px;
	background: rgba(199, 199, 199, 0.15);
}
.comment-meta {
	padding: 10px 17px;
}
.comment-author {
	@media (min-width: $screen-md) {
		float: left;
		width: 60%;
	}
}
.comment-metadata {
	@media (min-width: $screen-md) {
		float: left;
		width: 40%;
		text-align: right;
	}
}
.comment-content {
	clear: both;
	padding: 10px 17px;
	display: inline-block;
	width: 100%;
}
@media (min-width: $screen-md) {
	.comment-form-author {
		width: 48%;
		float: left;
		margin-right: 4%;
	}
	.comment-form-email {
		width: 48%;
		float: left;
	}
}
.comment-form-url {
	display: none;
}
.reply {
	padding-left: 17px;
	&:after {
		content: '\f21e';
		font-family: 'Ionicons';
		margin-left: 5px;
	}
}
.avatar {
	border-radius: 50%;
	margin-right: 10px;
}
.comment-respond {
	padding: 30px;
	background: rgba(199, 199, 199, 0.15);
}
.submit {
	margin-top: 20px;
}