div.wpcf7-validation-errors {
    border: 2px solid rgb(255, 251, 200);
    background: white;
    border-radius: 30px;
    padding: 5px 30px;
    margin: 0 $grid-gutter-width/2 $grid-gutter-width/2 $grid-gutter-width/2;
    position: relative;
    top: $grid-gutter-width/2;
    clear: both;
}