@import "../../../bower_components/Ionicons/scss/ionicons-variables";
// Fix load WOFF first for better compression
@font-face {
	font-family: $ionicons-font-family;
	src: url("../fonts/ionicons.eot?v=#{$ionicons-version}");
	src: url("../fonts/ionicons.eot?v=#{$ionicons-version}#iefix") format("embedded-opentype"), url("../fonts/ionicons.woff?v=#{$ionicons-version}") format("woff"), url("../fonts/ionicons.ttf?v=#{$ionicons-version}") format("truetype"), url("../fonts/ionicons.svg?v=#{$ionicons-version}#Ionicons") format("svg");
	font-weight: normal;
	font-style: normal;
}
.ion {
	display: inline-block;
	font-family: $ionicons-font-family;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@import "../../../bower_components/Ionicons/scss/ionicons-icons";
