// Ring spinner
@keyframes uil-ring-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.uil-ring-css {
  background: none;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 25px auto;
  // transform: scale(.3);
}
.uil-ring-css > div {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  // box-shadow: 0 2px 0 0 #fff;
  border: 2px solid #fff;
  border-bottom: 2px solid black;
  position: relative;
  // &:after {
  // 	content: '';
  // 	display: block;
  // 	position: absolute;
  // 	width: 100%;
  // 	height: 100%;
  // 	border: 2px solid red;
  // }
  animation: uil-ring-anim 1s linear infinite;
}