.pricing-box {
	.pricing-box-price {
		font-size: 90px;
		line-height: 1em;
		display: inline-block;
		position: relative;
		.pricing-box-unit {
			font-size: 30px;
			vertical-align: top;
			position: absolute;
			top: 40%;
			left: -0.7em;
		}
	}
	.pricing-box-price-subheading {
		font-size: 12px;
	}
	.pricing-box-heading {
		margin-bottom: 0px;
	}
	.pricing-box-subheading {
		font-size: 14px;
		margin-top: 0px;
	}
	.pricing-box-content {
		margin: 30px 0;
		font-size: .9em;
		ul {
			list-style: none;
			padding-left: 0px;
		}
	}
}
