#sidebar-search {
	position: absolute;
	top: 100%;
	right: 0;
	left: auto;
	z-index: 10;
	background: #fff;
	width: 380px !important;
	height: auto !important;
	max-width: none;
	padding: 20px 25px;
	z-index: 1000;
	box-shadow: 0 6px 12px rgba(0,0,0,.05);
	.widget {
		margin: 0px;
	}
	form {
		text-align: center;
	}
	input {
		width: auto;
		margin-bottom: 0;
	}

}

.search-active {
	#sidebar-search {
		visibility: visible;
		opacity: 1;
	}
}

#sidebar-primary {
	.search-field {
		width: 50%;
		float: left;
    }
    .search-submit {
    	width: auto;
    	float: left;
    }
}