// Padding
.slide-bg {
  .post {
    .categories,
    .entry-meta,
    .entry-title,
    .entry-summary {
        padding-left: 20px;
        padding-right: 20px;
    }
    .entry-summary {
        padding-bottom: 10px;
        display: inline-block;
    }
  }
}