// Social share
.social-icons ul {
	li {
		float: left;
		margin-right: 40px;
		text-align: center;
		line-height: 26px;
		i {
			font-size: 22px;
			width: auto;
		}
	}
	list-style: none;
	margin: 0;
	padding: 0;
}
.single-post {
	.social-icons-wrap {
		z-index: 1000;
		position: absolute;
		top: 20px;
		right: 20px;
		&.affix {
			position: fixed;
		}
	}
}
.single-product {
	.social-icons-wrap {
		clear: both;
		display: inline-block;
		margin-top: 25px;
	}
}
.social-icons.social-share-hover {
	.share-icon {
		float: left;
		margin-right: 35px;
		font-size: 24px;
		cursor: pointer;
	}
	ul {
		float: left;
		display: block;
		&:hover ul {
			opacity: 1;
			visibility: visible;
		}
	}
	ul ul {
		height: 33px;
		overflow: hidden;
		visibility: hidden;
		opacity: 0;
		max-width: 100%;
		transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
	}
}