// Sticky and gallery
.sticky.post {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  &:after {
  	content: '\f2a6';
  	font-family: $ionicons-font-family;
  	display: block;
  	position: absolute;
  	top: 20px;
  	right: ($grid-gutter-width/2 + 20);
  	background: #fff;
  	width: 40px;
  	height: 40px;
  	text-align: center;
  	line-height: 40px;
  	border-radius: 50%;
  	z-index: 10;
  }
  .categories, .entry-title, .entry-summary {
  	padding-left: 40px;
  	padding-right: 40px;
  }
  .entry-summary {
  	padding-bottom: 40px;
  }
}
.gallery-caption {
  display: block;
  background: #fff;
  padding: 20px;
}
.bypostauthor {
  border-top: 3px solid #3d3d3d;
}