// Links
a {
	transition: color $default-transition, text-indent $default-transition;
	outline: 0px !important;
	&:hover {
		text-decoration: none;
	}
	&:focus {
		outline: none !important;
		text-decoration: none;
	}
}

// Scrollbars
::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}
::-webkit-scrollbar-track {
    background:#fff;
    border: thin solid #eee;
    // box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:0px;
}
::-webkit-scrollbar-thumb {
    background:#ccc;
    border: thin solid #ccc;
    border-radius:10px;
    transition: all $default-transition;
}
::-webkit-scrollbar-thumb:hover {
    background:#7d7d7d;
}   


@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

// Sections / rows
body {
	overflow-x: hidden;
}
@media (min-width: 1200px) {
	.container {
		width: 100%;
	}
}
.container {
	max-width: 100%;
}
.main {
	overflow: hidden;
}
.content-wrapper {
}
.full-browser-height {
	height: 100vh;
}
.fill-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.fixed-bg {
	background-attachment: fixed !important;
	background-repeat: repeat-x !important;
}
@media (max-width: $screen-md-max) {
	.fixed-bg {
		background-attachment: scroll !important;
	}
}
.hide-bg {
	background-image: none !important;
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.full-bg-image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center center;
}
img {
	max-width: 100%;
	height: auto;
}
html {
    font-size: 100%
}
ul, ol {
	li {
		margin-bottom: .5em;
	}
}
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
.has-animation {
	visibility: hidden;
	overflow: hidden;
}
.visible {
	visibility: visible;
}
.list-style.list-style-arrow {
	ul {
		li {
			list-style: none;
			list-style: none;
			&:before {
				font-family: Ionicons;
				content: '\f363';
				display: inline-block;
				margin-right: 20px;
			}
		}
	}
}
table {
	@extend .table;
}
// Typography
h1, h2, h3, h4, h5 {
	margin-top: 0px;
	margin-bottom: .45em;
}
.extra-large-text {
	font-size: 2.2rem;
	@media (min-width: 768px) {
		font-size: 4.5rem;
	}
	@media (min-width: 992px) {
		font-size: 7rem;
	}
}
.large-text {
	font-size: 2rem;
	@media (min-width: 768px) {
		font-size: 3.5rem;
	}
	@media (min-width: 992px) {
		font-size: 5rem;
	}
}
.text-align-left {
	text-align: left;
}
.text-align-right {
	text-align: right;
}
.text-align-center {
	text-align: center;
}
p {
	margin: 0 0 20px;
}
dd {
	margin-left: 40px;
	margin-bottom: 20px;
}

// Typekit fonts
.wf-loading {
	h1, .h1, h2, .h3, h3, .h3, h4, .h4, h5, .h5, p, span {
		visibility: hidden
	}
}