// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$grid-gutter-width:		60px;

// Colors
$brand-primary:         #3d3d3d;
$light-grey:			#f7f7f7;
$dark-grey:				#DCDCDC;

// Elements
$nav-width:				300px;
$nav-link-hover-bg: 	transparent;

// Animations
$default-transition: 	.25s cubic-bezier(.17,.67,.83,.67);
$header-transition: 	.5s ease-in-out;

// Typography
$fontbase:				16;
$line-height-base:		1;