// Header styles
.header-centered-nav {
	>.container {
		position: relative;
	}
	header.banner nav.nav-primary {
		>div {
			display: inline-block;
		}
		text-align: center;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		.navbar-nav {
		width: 100%;
			> li {
			  float: none;
			}
		}
	}
}
.header-nav-btn-left {
	header.banner {
		.brand-wrap {
			position: absolute;
			width: 100%;
			top: 0px;
			left: 0px;
			text-align: center;
			z-index: 0;
			.brand {
				float: none;
			}
		}
	}
}
.header-centered-logo-and-nav {
	header.banner {
		.row {
			position: relative;
		}
		.navbar-brand {
			float: none;
			width: 100%;
			text-align: center;
			img {
				margin: 0 auto;
			}
		}
		nav.nav-primary {
			>div {
				display: inline-block;
			}
			text-align: center;
		}
		.navbar-nav {
			float: none;
			li {
				height: 30px;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		.header-buttons {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}
.header-left-align {
	.brand-wrap {
		padding-right: 20px;
	}
}

// Overlay
.nav-active {
	.nav-primary.off-canvas-overlay {
		opacity: 1;
		visibility: visible;
	}
}
.header-nav-overlay {
	&.nav-active {
		header.banner {
			background: transparent;
		}
	}
	.nav-primary {
		>.container {
			position: relative;
		}
	}
	.close-btn-wrap {
		position: absolute;
		top: 0%;
		.close-btn i {
			font-size: 42px;
		}
	}
}
