body:not(.has_vc_row) {
	#content.container {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
body.error404 {
	.main {
		text-align: center;
	}
	#content.container {
		padding-top: 10%;
	    padding-bottom: 10%;
	}
	h1 {
		font-size: 8em;
		margin-bottom: 0px;
	}
	.h4 {
		margin-bottom: 2em;
	}
	.btn {
		margin-bottom: 2em;
	}
}