// General single styles
body.single {
	#content.container {
	    padding-top: 0px;
	    padding-bottom: 0px;
	}
	.social-share-wrap {
		margin-top: 30px;
		h4 {
			font-weight: bold;
			margin-bottom: 15px;
		}
	}
}

// General single post styles
.single-post {
	.page-header {
		align-content: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		background-position: center center;
		text-align: center;
	}
	footer.content-info {
	    display: none;
	}
}
.no-sidebar-primary.single-post {
	.main {
		padding-top: 40px;
		max-width: 800px;
		margin: 0 auto;
		float: none;
	}
}
.close-post-btn {
	position: absolute;
	top: 28px;
	right: 28px;
	font-size: 32px;
	width: 48px;
	text-align: center;
	height: 48px;
}

// Top side post
.single.content-single-top {
	.featured-content {
		position: relative;
		// height: calc(100vh - 30vh);
		height: calc(100vh);
	}
	.page-header {
		padding-top: 10%;
		padding-bottom: 5%;
	}
	.main {
		max-width: 800px;
		margin: 0 auto;
		float: none;
	}
}


// Post navigation
.post-nav {
	display: inline-block;
	width: 100%;
	clear: both;
	margin-top: 30px;
	margin-bottom: 30px;
	position: relative;
	a {
		font-weight: bold;
	}
	.previous-link, .next-link {
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 1.2em;
		line-height: 1.4em;
		@media (min-width: $screen-md) {
			width: 48%;
			float: left;
		}
		i {
			font-size: 20px;
			margin: 0 10px;
			&:before {
				transition: all $default-transition;
			}
		}
	}
	.previous-link {
		float: left;
		@media (min-width: $screen-md) {
			margin-right: 4%;
		}
		&:hover {
			i:before {
				transform: translateX(-10px);
			}
		}
	}
	.next-link {
		float: right;
		@media (min-width: $screen-md) {
			text-align: right;
			padding-left: 4%;
		}
		&:hover {
			i:before {
				transform: translateX(10px);
			}
		}
	}
	.back-link {
		font-size: 24px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}


// Author meta
.author-meta {
	display: inline-block;
	width: 100%;
	clear: both;
	margin: 40px 0;
	img {
		max-width: 100%;
		height: auto;
		border-radius: 50%;
		margin: 0px 0 10px;
	}
	h4 {
		line-height: 1;
	}
	.author-description {
		margin-bottom: 20px;
	}
	.social-icons {
		i {
			font-size: 18px;
		}
	}
}

// Blog index
.grid-item .post, .blog .post {
	margin-bottom: ($grid-gutter-width * 1.25);
	.featured-content {
		position: relative;
	}
	.categories {
		padding-top: 20px;
		padding-bottom: 12px;
		font-size: .8em;
	}
	.entry-meta {
		display: block;
		margin: 0px 0 8px;
		display: inline-block;
		clear: both;
		opacity: .4;
		font-size: .8em;
		time, p, div {
			// font-size: .9em;
		}
		time {
			float: left;
			margin-right: 10px;
		}
		.byline {
			float: left;
			display: block;
		}
		.categories {

		}
	}
	.entry-title {
		clear: both;
		margin-top: 0px;
		margin-bottom: 13px;
		line-height: 1.2em;
		font-size: 22px;
		// color: #3d3d3d;
	}
	.entry-summary {
		clear: both;
	}
	img {
		max-width: 100%;
		width: auto;
		height: auto;
	}
	.full-link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
	}
	.read-more {
		display: block;
		clear: both;
		margin-top: 10px;
		font-weight: bold;
		font-size: .8em;
		&:after {
			content: '\f3d6';
			font-family: 'Ionicons';
			font-size: inherit;
			margin-left: 5px;
		}
	}
}
.blog.no-sidebar-primary {
	.main {
		// max-width: 800px;
		margin: 0 auto;
		float: none;
	}
}

// Post formats
.post {
	.owl-carousel {
		margin-bottom: 0px;
		img {
			width: 100%;
		}
	}
}
.post.format-video {
	.post-overlay {
		text-align: center;
	}
	.icon-play-video {
		font-size: 50px;
		color: black;
		width: 40px;
		height: 40px;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: 0px;
		margin-left: -20px;
		margin-top: -20px;
		&:before {
			margin-left: 6px;
			margin-top: 2px;
		}
	}
}
.post.format-quote {
	padding: 35px 40px 35px 20px;
	border: 3px solid #f7f7f7;
	.entry-summary {
		font-size: 22px;
		padding-bottom: 10px;
		margin-bottom: 0;
	}
	.entry-title {
		opacity: .4;
		font-size: 16px;
	}
	.quote {
		position: absolute;
		top: 15px;
		right: 50px;
		line-height: 1;
		opacity: .1;
	}
}
.post-format-quote, .post-format-link {
	.grid-item-bg {
		background: transparent !important;
	}
}
.post.format-link {
	padding: 35px 40px 0px 35px;
	border: 3px solid #f7f7f7;
	.icon-link {
		font-size: 42px;
		opacity: .1;
		position: absolute;
		top: 15px;
		right: 50px;
		transform: rotate(-45deg);
		margin-left: 0px;
	}
}


// Posts
.featured-content {
	position: relative;
	overflow: hidden;
}
.post {
	.post-overlay {
		opacity: 0;
		padding: 5px 20px;
		transition: opacity $default-transition;
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		background: rgba(255,255,255,.2);
	}
	&:hover {
		.post-overlay {
			opacity: 1;
		}
	}
}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-wrapper iframe, .featured-content object, .featured-content embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


// Post formats
.single {
	.page-header {
		overflow: hidden;
		@media (min-width: 992px) {
			.featured-content {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.social-icons-wrap {
			position: absolute;
			top: 20px;
			right: 10px;
		}
	}
}
.single-format-video {
	.page-header {
		height: calc(100vw * .55);
		max-height: 100vh;
	}
}
.single-format-gallery {
	.page-header {
		.glide__wrapper, .glide__track {
			max-height: 100%;
		}
	}
}
.single-format-audio {
	.featured-content {
		.post-audio-clip {
			position: absolute;
			bottom: 0;
			width: 100%;
			z-index: 10000000;
		}
		.wp-audio-shortcode {
			visibility: visible !important;
		}
		.mejs-container {
			max-width: 750px;
			margin: 0 auto;
		}
	}
}

.fill-container {
	.featured-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}