.sidebar {
	h3 {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.widget {
		width: 100%;
		margin-bottom: 40px;
	}
	ul {
		list-style: none;
		padding-left: 0px;
		li {
			padding: 5px 0;
			margin-bottom: 0px;
		}
	}
}
@media (min-width: 768px) {
	.sidebar-primary {
		#sidebar-primary:before {
			content: '';
			display: block;
			position: absolute;
			height: 100%;
			left: 0;
			width: 1px;
			border-left: 1px solid $light-grey;		
		}
		.vc_row:first-child {
			padding-top: 0;
		}
		.main>.row {
			padding-right: $grid-gutter-width/2;
		}
	}
}
#sidebar-primary {
	.widget {
		padding-left: 30px;
		display: inline-block;
	}
}