// General single product styles
.single-product.woocommerce {
	h2, .h2 {
		font-size: 18px;
	}
	h2 {
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #d3ced2;
		padding: 15px 0;
		margin: 60px 0 1.618em;
		display: inline-block;
	}
	.social-icons-wrap {
		display: block;
		clear: both;
	}
	.main {
		padding-top: 30px;
		padding-bottom: 80px;
	}
	 #content {
		div.product {
			div.summary {
				padding: 20px;
			}
			@media (min-width: 769px) {
				div.images {
					height: 100%;
					margin-bottom: 0;
					width: 50%;
					position: relative;
				}
				div.summary {
					padding: 40px 60px;
					width: 50%;
					.summary-inner {
						max-width: 440px;
						margin: 0 auto;
					}
				}
			}
			.product_title {
				margin-top: 0px;
				margin-bottom: 0px;
				font-size: 22px;
				float: left;
			}
			p.price {
				float: left;
				clear: both;
				margin-top: 0px;
				margin-left: 0px;
				font-size: 30px;
				color: #DCDCDC;
			}
			p.price span {
				letter-spacing: 1px;
			}
			span.price {
			    color: #3d3d3d;
			    font-size: 1.75em;
			    font-weight: bold;
			}
			div[itemprop="description"] {
				margin-top: 20px;
				display: inline-block;
				clear: both;
				width: 100%;
			}
			.quantity .qty {
			    width: auto;
			    text-align: center;
			    width: 60px;
			    padding-left: 10px;
			    padding-right: 0px;
			}
			.add_to_cart_button {
				margin: 0;
			}
			.product_meta {
				display: none;
			}
			.woocommerce-variation.single_variation {
				.price {
					display: block;
					margin-bottom: 30px;
				}
			}
			.woocommerce-tabs {
				ul.tabs {
					display: inline-block;
					margin-top: 60px;
					padding: 0px;
					text-align: center;
					width: 100%;
					li {
						padding: 0 2em 0 .5em;
						border: 0px;
						background-color: transparent;
						&:before, &:after {
							display: none;
						}
						a {
							color: #B9B9B9;
							transition: border .3s ease-in-out;
							border-bottom: 2px solid transparent;
							padding: 15px 0;
							font-weight: inherit;
						}
					}
					li.active a {
						color: #000;
						border-bottom: 2px solid black;
					}
				}
			}
			.wc-tab.entry-content {
				>h2 {
					display: none;
				}
				transition: opacity .9s ease-in-out;
				opacity: 0;
				visibility: hidden;
				display: block !important;
				height: 1px;
				margin: 0px;
				h2 {
				    font-size: .8rem;
					letter-spacing: 2px;
					margin-bottom: 1.4em;
				}
				&.active {
					opacity: 1;
					visibility: visible;
					height: auto;
					margin: 0 0 2em;
				}
			}
			form.cart {
				margin-top: 1em;
				margin-bottom: 3em;
			}
		}
	}
}

.woocommerce {
	span.onsale {
	    background-color: #FFFFFF;
	    color: #525252;
	    border-radius: 0;
	    top: 1em;
	    left: 0;
	    line-height: 2;
	    min-height: initial;
	    z-index: 10;
	}
}

// Currency symbol
.currency-symbol {
	font-size: .5em;
	vertical-align: top;
	position: relative;
	top: -.5em;
	left: -5px;
}

// Info messages
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	margin-bottom: 0px !important;
	animation: slideDown .5s ease-in 5s forwards;
	transition: transform $default-transition;
}
@keyframes slideDown {
    to {
        overflow:hidden;
        transform: translate3d(0%, 100%, 0);
    }
}

// Product archive
.woocommerce .woocommerce-result-count {
	margin-top: 1em;
}
.products.row {
	clear: both;
}
div.woocommerce.product-grid-item {
	position: relative;
	overflow: hidden;
	text-align: center;
	margin-bottom: $grid-gutter-width;
	img {
		width: 100%;
	}
	h3 {
		font-size: 22px;
		margin-top: .7em;
		margin-bottom: 0;
	}
	.product-inner {
		position: relative;
	}
	.secondary-image {
		position: absolute;
		top:0;
		left: 0;
		opacity: 0;
		transition: opacity $default-transition;
		max-width: 100%;
		max-height: 100%;
		height: auto;
	}
	.price, .price .amount {
		color: #c4c4c4 !important;
	}
	&:hover {
		.secondary-image {
			opacity: 1;
		}
		.product-overlay-wrap a.button {
			transform: translate3d(0,0,0);
		}
	}
	// Product overlay
	.product-overlay-wrap {
		position: relative;
		overflow: hidden;
		a.button {
			position: absolute;
			right: 0;
			top: 0;
			width: auto;
			z-index: 10;
			padding: 18px;
			padding: 25px 50px !important;
			transform: translate3d(100%,0%, 0);
			content: '';
			transition: transform .5s ease-in-out;
			visibility: hidden;
			&:after {
				color:black;
				visibility: visible;
			}
			&.product_type_variable {
				display: none;
			}
			&.ajax_add_to_cart:after {
				font-size: 28px;
			}
			&.added:after {
				content: "\f122";
				font-size: 20px;
			}
			&.loading:after {
				content: "\f35d";
				font-size: 28px;
				right: auto;
			}
		}
	}
	// Remove default button styles
	a.button {
		border: 0px;
		background: transparent;
		margin-top: 0px;
		padding: 0px;
		font-weight: 500;
		clear: both;
		width: 100%;

		&:hover {
			background: transparent;
			border: 0px;
		}
		&:after {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			margin-left: .53em;
			content: "\f2c7";
			font-family: Ionicons;
			font-size: 16px;
			margin-top: -2px;
		}
	}
	.added_to_cart {
		display: none;
	}
}


// Cart
.woocommerce table.shop_table td {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 30px 12px;
    vertical-align: middle;
}
.woocommerce a.remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: #3f3f3f !important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    content: '\f2d7';
    font-family: Ionicons;
    &:hover {
    	color: rgba(239, 72, 54, 1) !important;
    	background-color: transparent;
    }
}

// Cart widget
.woocommerce.widget_shopping_cart  {
	.buttons .button {
		display: none;
	}
	.buttons .button.checkout {
		display: block;
		width: 100%;
		text-align: center;
	}
	.total {
		border-top-width: 1px;
		border-top-style: solid;
		margin-bottom: 30px;
	}
	.cart_list {
		.empty {
			&:before {
				content: '\f3f7';
				font-family: 'Ionicons';
				font-size: 32px;
			}
		}
	}
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li {
	margin-bottom: 20px;
	width: 100%;
	vertical-align: middle;
	position: relative;
	min-height: 80px;
	img {
	    width: 80px;
	    position: absolute;
	    right: 0;
	    top: 0;
	}
	a {
		padding-right: 90px;
	}
}

// Checkout
#add_payment_method #payment, .woocommerce-checkout #payment {
    background: #F7F7F7;
}

// Ratings
.woocommerce .star-rating span:before, .woocommerce p.stars a:before {
    color: #FFAA01;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 75px;
}
.single-product.woocommerce #content div.product div[itemprop=description] {
    margin: 10px 0px 15px;
}
.woocommerce #content div.product #reviews .comment img, .woocommerce div.product #reviews .comment img, .woocommerce-page #content div.product #reviews .comment img, .woocommerce-page div.product #reviews .comment img {
    float: none;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
    width: 60px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
}
body .content-wrapper .woocommerce .star-rating {
	clear: both;
	float: none;
	margin: 5px auto;
	text-align: center;
}
.woocommerce .woocommerce-product-rating {
    clear: both;
    float: none;
    margin-bottom: 0 !important;
}

// Upsell / related products
.upsells.products {
	clear: both;
}

// Variations 
.variations {
	td {
		display: block;
	}
	.label {
		text-align: left;
		opacity: .5;
	}
	.value {
		>div {
			float: left;
			padding: 5px;
			input {
				visibility: hidden;
				position: absolute;
			}
			label {
				>span {
					display: block;
					border: 1px solid transparent;
					padding: 5px 10px;
					cursor: pointer;
					transition: all $default-transition;
				}
			}
			input:disabled + label {
				opacity: .3;
				span {
					cursor: not-allowed !important;
				}
			}
			input:checked + label>span { 
			    border: 1px solid #E0E0E0;
			    background-color: #f7f7f7;
			}
		}
	}
}


// Disabled buttons
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
	opacity: .2;
}

// Cart header button
.woocommerce-cart, .woocommerce-checkout {
	.sidebar-cart-btn {
		display: none;
	}
}